#mainContainer {
    width: 50%;
    min-width: 500px;
    margin: 200px auto;
    
    position: relative;
}

#description {
    width: 48%;
    height: 100%;
    
    float: left;
    margin: 50px 0;
    
    text-align: justify;
}

#contacts {
    width: 48%;
    height: 100%;
    
    float: right;
    
    text-align: justify;
}

#contacts img {
    width: 100%;
    
    margin: 50px auto 0;
    
    position: relative;
}